html {
    --color-main: rgb(93, 15, 93);
    --color-lighter: rgb(141, 15, 141);
    --font-color: rgb(80, 74, 74);
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
    text-align: center;
}
header, footer {
    background-color: var(--color-main);
    padding: 1.5rem;
    box-shadow: 0px 0px 1px black;
}
header>h1 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}
button {
    width: fit-content;
    background-color: var(--color-main);
    color: white;   
    border: none;
    padding: 0.75rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    margin: 0 auto;
}
button:hover {
    background-color: var(--color-lighter);
    cursor: pointer;
}
.material-symbols-rounded {
    font-size: 2rem;
    cursor: pointer;
    color: black;
}
footer {
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
footer p {
    margin: 0;
    margin-bottom: 0.25rem;
}
footer img {
    width: 3rem;
    object-fit: cover;
}
.color {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
}
.color:hover {
    cursor: pointer;
    border: solid 2px white;
}
#navy-blue {
    background-color: rgb(12, 12, 73);
}
#yellow {
    background-color: rgb(255, 255, 0);
}