html {
    --color-main: rgb(93, 15, 93);
    --color-lighter: rgb(141, 15, 141);
    --color-transparent: rgb(93, 15, 93, 0.2);
    --color-background: white;
    --font-color: rgb(80, 74, 74);
    scroll-behavior: smooth;
}
html[data-theme = 'navyBlue'] {
    --color-main: rgb(12, 12, 73);
    --color-lighter: rgb(12, 12, 240);
    --color-transparent: rgb(12, 12, 240, 0.2);
    --color-background: white;

}
html[data-theme = 'darkMode'] {
    --color-main: rgb(19, 19, 21);
    --color-lighter: rgb(37, 52, 170);
    --color-transparent: rgb(37, 52, 170, 0.2);
    --color-background: rgb(99, 97, 97);
    --font-color: white;


}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
    text-align: center;
    background-color: var(--color-background);
}
header, footer {
    background-color: var(--color-main);
    padding: 1.5rem;
    box-shadow: 0px 0px 1px black;
}
header>h1 {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}
button {
    width: fit-content;
    background-color: var(--color-main);
    color: white;   
    border: none;
    padding: 0.75rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    margin: 0 auto;
}
button:hover {
    background-color: var(--color-lighter);
    cursor: pointer;
}
.material-symbols-rounded {
    font-size: 2rem;
    cursor: pointer;
    color: black;
}
footer {
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
footer p {
    margin: 0;
    margin-bottom: 0.25rem;
}
footer img {
    width: 3rem;
    object-fit: cover;
}
#themes {
    margin: 0;
    padding: 0;
}
.color {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
}
.color::before,
.color::after {
    --scale: 0;


    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
}
.color::before{
    content: attr(data-theme);
    background-color: var(--color-lighter);
    width: max-content;
    max-width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 0.25rem;
}
.color:hover {
    cursor: pointer;
    border: solid 2px white;
}
.color:hover::before {
    --scale: 1;
}
#default {
    background-color: rgb(93, 15, 93);
}
#navy-blue {
    background-color: rgb(12, 12, 73);
}
#dark-mode {
    background-color: rgb(33, 34, 39);
}
.current-theme {
    display: none;
}